*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.container{
    box-sizing: border-box;
    margin:100px 250px;
    display: flex; 
    border-radius: 30px;
    box-shadow: #ccc;
    align-items: center;
    justify-content: center;  
    background-color: aquamarine;
}

.box{
    
}
.result{
    flex: 1;
    border-radius: 30px;
    color:#fff;
    text-align: center;
    background: linear-gradient( hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    padding: 50px;
}
.result p{
    font-size: 18px;
}
.mark{
    display: flex;
    flex-direction: column;
    margin:30px 160px 30px 160px ;
    padding: 35px;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 1px solid hsl(252, 100%, 67%);
    background: linear-gradient( hsl(241, 81%, 54%),hsl(252, 100%, 67%));
}
.large{
    font-size: 50px;
    font-weight: bold;
    font-style:var( HankenGrotesk-Bold);
}
.small{
    font-size: 15px;
}
.summary{
    flex: 1;
}