*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Hanken Grotesk';
}
.container{
    width: 800px;
    box-sizing: border-box;
    margin:100px 250px;
    display: flex; 
    border-radius: 30px;
    box-shadow: #ccc;
    align-items: center;
    justify-content: center;  
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.result{
    width: 400px;
    border-radius: 30px;
    color:#fff;
    text-align: center;
    background: linear-gradient( hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    padding:30px 65px;
}
.result p{
    font-size: 18px;
    margin-bottom: 20px;
}
.mark{
    display: flex;
    flex-direction: column;
    margin:0 auto ;
    margin-bottom: 20px;
    padding: 45px;
    width: 175px;
    height: 175px;
    border-radius: 100%;
    /* border: 1px solid hsl(252, 100%, 67%); */
    box-shadow: inset 1px 1px 12px 0px hsla(256,72%,46%,1);
    background: linear-gradient( hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0)
    );
}
.large{
    font-size: 65px;
    font-weight: bold;
    font-style:var( HankenGrotesk-Bold);
}
.small{
    font-size: 15px;
}
.para .cont{
    margin-top: 20px;
}
.summary{
    width: 400px;
    padding: 30px;
}
.review{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.memory{
    display: flex;
    justify-content: space-between;
    width:360px;
    background-color:  hsl(39, 100%, 56%,0.1);
    color: hsl(39, 100%, 56%);
    border-radius: 10px;
    padding: 13px;
    margin-top: 18px;
}
.reaction{
    display: flex;
    justify-content: space-between;
    width:360px;
    color: hsl(0, 100%, 67%);
    background-color: hsl(0, 100%, 67%,0.1);
    border-radius: 10px;
    padding: 13px;
    margin-top: 25px;
}
.verbal{
    display: flex;
    justify-content: space-between;
    width:360px;
    color:  hsl(166, 100%, 37%);
    background-color:  hsl(166, 100%, 37%,0.1);
    border-radius: 10px;
    padding: 13px;
    margin-top: 18px;
}
.visual{
    display: flex;
    justify-content: space-between;
    width:360px;
    color: hsl(234, 85%, 45%);
    background-color: hsl(234, 85%, 45%,0.1);
    border-radius: 10px;
    padding: 13px;
    margin-top: 18px;
    margin-bottom: 50px;
}
.black{
    color: black;
    font-weight: bold;
}
.grey{
    color: grey;
    font-weight: bold;
}
.font{
    font-size: 18px;
    margin-top: 8px;
}

.btn{
    
    color: white;
    padding: 10px 140px; 
    background-color: hsl(224, 30%, 27%);
    border-radius: 20px;
}